rank-bm25
sentence-transformers
sentencepiece
transformers
torch
accelerate
peft
bitsandbytes
jinja2
faiss-cpu
chromadb
langchain
langchain-community
langchainhub
datasets
scikit-learn
tqdm
pandas
numpy
requests
google-colab
